h2,
p {
  margin: 10px;
}

.modal-js {
  padding: 20px;
  background-color: #fff;
  border: 1px solid black;
  position: absolute;
  top: 20%;
  opacity: 0;
  transition: all 0.5s linear;
}
.modal-js #closeBtn {
  position: absolute;
  right: 25px;
  cursor: pointer;
}
